.input-number{
    width: 50px;
}
.input-text{
    width: 100px;
}
.invisible{
    display: none;
}
.fa-cart-shopping{
    color:black;
}
.fa-cart-shopping:hover{
    color:grey;
}

.card-img-top{
    height: 224px ;
}
.card-title{
    height: 72px ;
}
.card-body {
    height: 72px ;
}


.navbar-nav
{
    left: 0px;
    position: sticky;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 100%;
    z-index: 1020;
}
.b1{

    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 0px;
    min-height: 40px;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background-color: rgb(0, 113, 206);
    border: 5px solid rgb(0, 113, 206);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 3px 22px;
}

.label-style {
    font-weight: bold;
    font-size: 80%;
}

