.input-number{
    width: 50px;
}
.input-text{
    width: 100px;
}
.invisible{
    display: none;
}
.fa-cart-shopping{
    color:black;
}
.fa-cart-shopping:hover{
    color:grey;
}
.card-img-top{
    height: 224px ;
}
.card-title{
    height: 72px ;
}
.card-body {
    height: 72px ;
}


